{port_env, [
    {"CFLAGS",
        "$CFLAGS $(pkg-config --cflags lua 2>/dev/null || pkg-config --cflags lua5.1 2>/dev/null || pkg-config --cflags lua5.2 || echo -lua_not_found)"},
    {"LDFLAGS",
        "$LDFLAGS $(pkg-config --libs lua 2>/dev/null || pkg-config --libs lua5.1 2>/dev/null || pkg-config --libs lua5.2 || echo -lua_not_found)"}
    ]
}.
{port_specs, [{"priv/erluanif.so", ["c_src/*.c"]}]}.
